

html.light-theme{
  color-scheme: dark;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #005ebfbf;
    --el-color-primary-light-3: #00428686;
    --el-color-primary-light-5: #002f5f5f;
    --el-color-primary-light-7: #001c3939;
    --el-color-primary-light-8: #00132626;
    --el-color-primary-light-9: #00091313;
    --el-color-primary-dark-2: #004b99cc;
    --el-color-success: #2d8800c5;
    --el-color-success-light-3: #205f008a;
    --el-color-success-light-5: #16440062;
    --el-color-success-light-7: #0d29003b;
    --el-color-success-light-8: #091b0027;
    --el-color-success-light-9: #050e0014;
    --el-color-success-dark-2: #246d00d1;
    --el-color-warning: #aa6600c3;
    --el-color-warning-light-3: #77470088;
    --el-color-warning-light-5: #55330061;
    --el-color-warning-light-7: #331e003a;
    --el-color-warning-light-8: #22140027;
    --el-color-warning-light-9: #110a0013;
    --el-color-warning-dark-2: #885200cf;
    --el-color-danger: #89000093;
    --el-color-danger-light-3: #60000067;
    --el-color-danger-light-5: #44000049;
    --el-color-danger-light-7: #2900002c;
    --el-color-danger-light-8: #1b00001d;
    --el-color-danger-light-9: #0e00000f;
    --el-color-danger-dark-2: #6e0000a9;
    --el-color-error: #89000093;
    --el-color-error-light-3: #60000067;
    --el-color-error-light-5: #44000049;
    --el-color-error-light-7: #2900002c;
    --el-color-error-light-8: #1b00001d;
    --el-color-error-light-9: #0e00000f;
    --el-color-error-dark-2: #6e0000a9;
    --el-color-info: #0003096f;
    --el-color-info-light-3: #0002074e;
    --el-color-info-light-5: #00010437;
    --el-color-info-light-7: #00010221;
    --el-color-info-light-8: #00000216;
    --el-color-info-light-9: #0000010b;
    --el-color-info-dark-2: #0003078c;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #000103cf;
    --el-text-color-regular: #0002069f;
    --el-text-color-secondary: #0003096f;
    --el-text-color-placeholder: #00030a57;
    --el-text-color-disabled: #00040c3f;
    --el-border-color: #00030a23;
    --el-border-color-light: #0003091b;
    --el-border-color-lighter: #00030a14;
    --el-border-color-extra-light: #00040a0d;
    --el-border-color-dark: #00030a2b;
    --el-border-color-darker: #00030932;
    --el-fill-color: #0002050f;
    --el-fill-color-light: #0002050a;
    --el-fill-color-lighter: #00000005;
    --el-fill-color-extra-light: #00020505;
    --el-fill-color-dark: #00020514;
    --el-fill-color-darker: #00020519;
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),0px 8px 20px rgba(0, 0, 0, 0.08);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08),0px 12px 32px rgba(0, 0, 0, 0.12),0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --el-disabled-bg-color: var(--el-fill-color-light);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-overlay-color: rgba(0, 0, 0, 0.8);
    --el-overlay-color-light: rgba(0, 0, 0, 0.7);
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --el-mask-color: rgba(255, 255, 255, 0.9);
    --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --el-border-width: 1px;
    --el-border-style: solid;
    --el-border-color-hover: var(--el-text-color-disabled);
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
    --el-svg-monochrome-grey: var(--el-border-color);
}

  :root .el-button{
    --el-color-primary: #3b648d;
    --el-color-success: #67c23a;
    --el-color-warning: #e6a23c;
    --el-color-danger: #ae5b5b;
    --el-color-error: #f56c6c;
    --el-color-info: #909399;
  }


  .el-input__wrapper{
    display: flex;
    align-items: center;
  }
  
  .el-input__inner{
    padding: 0px 15px;
    font-size: 1.1em;
  }

  .el-carousel{
    min-width: 1080px;
  }

  .el-carousel > div{
    width: calc(100% - 4px);
  }
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }

  div.el-dialog{
    --el-dialog-border-radius: 15px;
    overflow: hidden;
  }

  div.el-card {
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ffffff6c;
  }

  .light-theme div.el-card {
    background-color: #f0e7e1;    
    color: #000;
    border: 1px solid #615f5f6c;
  }